<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include nav.html %}

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="/images/personPhoto.png" alt="" style="border-radius: 50%;" width="180"/>
                <h1 class="name">Wesley Goi, Ph. D</h1>
                <h3 class="tagline">Senior Data Scientist</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: etheleon@protonmail.com">etheleon@protonmail.com</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="etheleon.github.io" target="_blank">etheleon.github.io</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/wesleygoi/" target="_blank">linkedin.com/in/wesleygoi</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/etheleon" target="_blank">github.com/etheleon</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Ph.D. in Compuational Biology</h4>
                    <h5 class="meta">National University of Singapore</h5>
                    <div class="time">2012-2018</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">B.Sc. in Biology</h4>
                    <h5 class="meta">National University of Singapore</h5>
                    <div class="time">2008-2012</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>Chinese <span class="lang-desc">(Native)</span></li>
                    <li>Japanese <span class="lang-desc">(Professional JLPT 2)</span></li>
                    <li>German <span class="lang-desc">(A2)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Bodybuilding</li>
                    <li>Swimming</li>
                    <li>Cooking</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
                <div class="summary entry-content">
                  {{content}}
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

              
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Data Scientist</h3>
                            <div class="time">2020-12 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Grabtaxi Holdings Pte. Ltd., Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working service type recommendation for cross sell and contextual messaging</p>
                    </div><!--//details-->
                </div><!--//item-->
              
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Science Manager</h3>
                            <div class="time">2020-02 - 2020-10</div>
                        </div><!--//upper-row-->
                        <div class="company">AirAsia Berhad (Singapore Branch)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked closely with ancillary line of business to oversee the creation of datamarts and maintenence data products such as dynamic pricing of baggage, seats and food items. Managing team of 5: 1 Data Analytst and 4 Data Scientists</p>
                        <ul>
                            <li>Dynamic Pricing, perishable inventory based on departure date, using trip, flight and passenger attributes</li>
                            <li>Price Elasticity Experimentation at route origin-destination level. Taught business analysts how to use dashboards to inform pricing decisions</li>
                            <li>Personalisation (Take-Up Rate Models) and deployment of FastAPI based proxy on GCP CI-CD on GAE and featurestore using FireStore</li>
                            <li>Cost reduction: Inflight perishable inventory, ie. hot food and help with demand planning.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Data Scientist</h3>
                            <div class="time">2019-07 - 2020-02</div>
                        </div><!--//upper-row-->
                        <div class="company">AirAsia Berhad (Singapore Branch)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Set up interface for production and test environments to use data science models</p>
                        <ul>
                          <li>Set up rulesets / ML guided predictors within Pricing Engine (Ancillary Pricing Optimization APO) for Seats / Meals / Baggage</li> 
                          <li>Set up Price Exploration Dashboards</li>
                          <li>Factor Based ML Models</li>
                          <li>A | B testing using Navitaire’s Analytics Module</li>
                          <li>Demand Planning (F&B: Fresh and Perishable goods)</li>
                          <li>Propensity Model for EDMs and Recommendation Engine</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

              
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Scientist</h3>
                            <div class="time">2018-04 - 2019-05</div>
                        </div><!--//upper-row-->
                        <div class="company">Honestbee, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Specialized in E-commerce (Groceries and Food Delivery) personalisation</p>
                      <ul>
                        <li>Recommendations engine model development, using (i) collaborative filtering (He. et al), (i) associations rule mining and combination DNN using embedding based features with linear regression, wide and deep.</li>
                        <li>Flask API</li>
                        <li>OpenAPI, pytest, Bug tracking (bugsnag) </li>
                        <li>APM and Tracing (Datadog) and A|B testing framework PlanOut (from facebook) </li>
                        <li>CI/CD Deployment to K8S cluster (AWS), responsible to writing and maintaining helm charts and terraform for machine learning projects based on sklearn, heuristic models, and deep learning models using tensorflow serving </li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tech Co-Founder</h3>
                            <div class="time">2017 - 2018 </div>
                        </div><!--//upper-row-->
                        <div class="company">fundMyLife, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Acted as CTO and Co-founder for company. <a href="https://fintechnews.sg/28832/personalfinance/dollarsandsense-fundmylife/">Acquired</a> in 2019 by <a href="http://dollarsandsense.sg">DollarsandSense.sg</a> (Number 2 largest financial literacy site in Singapore)</p>
                        <ul>
                          <li>FE and BE web development (node.js ES6), µservice API (Python)</li>
                          <li>REST APIs integration with business partners eg. DollarsandSense.sg </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

          
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below is list of my past Projects</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
          
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>
                <div class="intro">
                    <p>Below is list of my past publications</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                  
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%" style="width: 100%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">R</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%" style="width: 100%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Data Visualisation &amp; Dashboarding</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%" style="width: 100%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">SQL (BigQuery / Presto / SparkSQL / RedShift)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%" style="width: 95%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Modelling (DNN/Tree/GLM)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%" style="width: 90%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Microservice &amp; Kubernetes</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Observability (Datadog / Stackdriver)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width: 70%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>


    <!-- Javascript -->
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <!-- custom js -->


<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

{% if jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}
</body>
</html>
